.flex{
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.centered{
    justify-content: center;
    align-content: center;
}

.is-white {
    color: $white-color;
}
.is-black {
    color: $black-color;
}
.is-grey {
    color: $grey-color;
}
.is-white-bcg {
    background-color: $white-color;
}
.is-black-bcg {
    background-color: $black-color;
}
.is-black-bcg-transperent {
    background-color: rgba($black-color,0.7);
}
.is-grey-bcg {
    background-color: $grey-color;
}