.flex{
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.centered{
    justify-content: center;
    align-content: center;
}

.is-white {
    color: $white-color;
}
.is-black {
    color: $black-color;
}
.is-grey {
    color: $grey-color;
}