// COLORS
$white-color: #fff;
$black-color: #222;
$grey-color: #9098a9;

$color_1: #d1e8f9;
$color_2: #222; //#0078e7
$color_3: #496a81;

$color_link: #6a9ab9;
$color_link_active: #fff;
$color_link_hover: #5d88a3;

$background_color_1: #555;
$background_color_2: rgba(0, 0, 0, 0.3);
$background_color_3: rgba(255, 255, 255, 0.7);


// FONTS
$xsmall-font: 0.7rem;
$small-font: 0.8rem;
$medium-font: 1.2rem;
$large-font: 1.5rem;
$xlarge-font: 1.7rem;
