.weather-box {
  padding: 20px 0;
  background: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  //   justify-items: center
  &::after {
    content: "";
    position: absolute;
    background-color: $background_color_2;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
.row {
  line-height: 3;
}
.weather-icon {
  margin-top: 1rem;
}
.like {
  cursor: pointer;
  position: relative;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  top: 2vw;
  right: 16px;
  .like-it-symbole {
    width: 3vw;
    max-width: 33px;
    min-width: 22px;
    animation: 0.7s fade-in;
  }
}
@media screen and (min-width: 900px) {
  .like {
    top: 12px;
  }
}
